{% extends 'base.html' %}
{% load static %}
{% block text %}
<title>ShowItempage</title>

<div class="container my-5"> 

  <div class='row mx-3 w-75 h-75'>

    {% for i in meals %} 

    <div class="col-4 ">
      <div class="card text-center mb-4" style="width: 15rem;">
        <img src="{{ i.strMealThumb }}" class="card-img-top p-" alt="...">
        <div class="card-body">
          <h5>{{i.idMeal}}</h5>
          <h5 class="card-title">{{ i.strMeal }}</h5>
          <p class="card-text">{{ i.strDescription|truncatewords:10 }}</p>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

</div>
{% endblock %}
