{% extends 'base.html' %} {% load static %} {% block par %}
<title>About Us</title>

<div class="container mt-5">
    <div class="row">
        <div class="col-6 mx-auto">
            <h2 class="text-center mb-4  text-danger">About Us</h2>
            <p>
                Welcome to [Your Restaurant Name], where we are dedicated to providing an exceptional dining experience. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in tristique mauris. Integer ac orci nec est malesuada viverra at in lacus. Proin vel
                purus eu urna luctus efficitur. Nullam vel ultricies odio.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-6 mx-auto">
            <h4 class=" text-danger">Our Location</h4>
            <address>
        [Restaurant Name:kacchi expresice]<br>
        [Street Address:Sylhte]<br>
        [City, State, Zip Code : sylhet, dharga gaith]<br>
        Phone: [017365796609]<br>
        Email: [suzon@yahoo.com]
      </address>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-6 mx-auto">
            <h4 class=" text-danger">Owner's Address</h4>
            <address>
        [Owner's Name:dider hussain suzon]<br>
        [Street Address: sylhet]<br>
        [City, State, Zip Code sylhte,dharga gaith]<br>
        Phone: [Owner's Phone Number:017365796609]<br>
        Email: [suzon@yahoo.com]
      </address>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-6 mx-auto">
            <p>
                Our mission is to [describe your mission or goal]. We strive to provide [services/products] that meet the needs of our customers. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet velit ut elit viverra fermentum. In hac habitasse
                platea dictumst.
            </p>

        </div>
    </div>

</div>

{% endblock %}